<% if current_user == @share.owner %>
<div class="hero-unit">
  <p style="text-align:center">
    <% unless @share.disabled %>
    <%= link_to t('.edit', :default => "Manage"), edit_share_path(@share), :class => 'btn btn-large btn-info' %>
    <%= link_to t('.edit', :default => "Disable"), share_path(@share), :class => 'btn btn-large btn-danger', :method => :delete, :confirm => "Are you sure? This cannot be reversed." %>
    <% end %>
  </p>
  <hr>
  <h4>Redeemed Codes</h4>
  <ol>
  <% @share.redeemed_codes.each do |code| %>
  <li><%= code.code %> - @<%= code.redeemer.nickname %></li>
  <% end %>
  </ol>
  <h4>Unredeemed Codes</h4>
  <ol>
  <% @share.unredeemed_codes.each do |code| %>
  <li style="padding-bottom:5px">
    <%= code.code %> 
    <%= link_to "Delete", share_redeemable_path(@share, code), :class=> "btn btn-mini btn-inverse", :method => :delete, :confirm => "Are you sure? This cannot be reversed." %>
  </li>
  <% end %>
  </ol>
</div>
<% end %>
